<?xml version="1.0" ?>
<launch>
  <!-- parameters -->
  <arg name="frame_id" default="laser_link"/>
	<arg name="serial_port" default="/dev/ttyUSB0"/>

  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch">
		<arg name="frame_id" value="$(arg frame_id)" />
		<arg name="serial_port" value="$(arg serial_port)"/>
	</include>

	<!--
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
		<rosparam command="load" file="$(find lidar)/config/laser_config.yaml" />
  </node> -->
</launch>
