<?xml version="1.0" ?>
<launch>
    <!-- ============================================== -->
    <!-- ================= PARAMETERS ================= -->
    <!-- ============================================== -->

    <!-- Simulation parameters -->
    <arg name="sim" default="false" />

    <!-- Kinova arm parameters -->
    <arg name="arm" default="gen3_lite"/>

    <arg name="dof" value="7" if="$(eval arg('arm') == 'gen3')"/> 
    <arg name="dof" value="6" if="$(eval arg('arm') == 'gen3_lite')"/>

    <arg name="vision" value="true" if="$(eval arg('arm') == 'gen3')"/> 
    <arg name="vision" value="false" if="$(eval arg('arm') == 'gen3_lite')"/>

    <arg name="gripper" value="" if="$(eval arg('arm') == 'gen3')"/> <!-- robotiq_2f_85 or robotiq_2f_140 -->
    <arg name="gripper" value="gen3_lite_2f" if="$(eval arg('arm') == 'gen3_lite')"/> 

    <!-- Namespace parameters -->
    <arg name="robot_name" default="my_$(arg arm)"/>
    <arg name="prefix" default="$(arg arm)"/>

    <!-- Joint state GUI -->
    <arg name="use_gui" default="false"/>

    <!-- ============================================== -->
    <!-- ==================== MAIN ==================== -->
    <!-- ============================================== -->

    <!-- Load robot URDF and publish states -->
    <param name="robot_description" 
        command="xacro '$(find paul_description)/urdf/paul.urdf.xacro'
        sim:=$(arg sim) arm:=$(arg arm) dof:=$(arg dof) vision:=$(arg vision) gripper:=$(arg gripper)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg use_gui)"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false"/>

</launch>