<?xml version="1.0" ?>
<launch>
    <arg name="simulation" default="false"/>
    <arg name="use_gui"    default="false"/>
    <!-- Kinova arm parameters -->
    <arg name="arm"        default="gen3_lite"/>
    <arg name="gripper"    default="gen3_lite_2f"/>

    <!-- Load robot URDF and publish states -->
    <param name="robot_description" command="xacro '$(find paul_description)/urdf/paul.urdf.xacro' simulation:=$(arg simulation) arm:=$(arg arm) gripper:=$(arg gripper)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg use_gui)"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>