<?xml version="1.0" ?>
<launch>
    <!-- Launch RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find paul_bringup)/config/rviz_cfg.rviz"/>

    <!-- Load robot description and state publishers -->
    <include file="$(find paul_description)/launch/upload.launch">
        <arg name="use_gui" value="true"/>
    </include>
</launch>
