<?xml version="1.0" ?>
<launch>
	<!-- Loading arguments -->
    <arg name="robot_name" default="paul"/>
    <arg name="simulation" default="false"/>
    <arg name="gazebo_gui" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="rviz_config_file" default="rviz_cfg.rviz"/>

    <arg name="with_d435" default="true"/>
    
    <arg name="rtabmapviz" default="false"/>
    <arg name="localization" default="false"/>

    <arg name="with_rtabmap" default="false"/>

    <!-- Launch RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find paul_bringup)/config/$(arg rviz_config_file)"/>

    <!-- Launch simulation environment -->
    <group if="$(arg simulation)">
        <include file="$(find paul_gazebo)/launch/simulation.launch">
            <arg name="gui" value="$(arg gazebo_gui)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
        </include>
    </group>

    <!-- Launch sensors on real robot -->
    <group unless="$(arg simulation)">
        <!-- d435 camera -->
        <group if="$(arg with_d435)">
            <include file="$(find realsense2_camera)/launch/rs_camera.launch">
                <arg name="filters" value="pointcloud"/>
                <arg name="align_depth" value="true"/>
            </include>
        </group>
    </group>

    <!-- Load robot description and state publishers -->
    <include file="$(find paul_description)/launch/upload.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- TODO: add move_base and rtabmap in navigation package -->
    <!-- Launching move_base to move robot around -->
    <group if="$(arg with_rtabmap)">
        <include file="$(find navigation)/launch/move_base.launch"/>
    </group>

    <!-- RTABMap -->
    <group if="$(arg with_rtabmap)">
        <include file="$(find slam)/launch/rtabmap.launch">
            <arg name="rtabmapviz" value="$(arg rtabmapviz)"/>
            <arg name="localization" value="$(arg localization)"/>
        </include>
    </group>    
</launch>