<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Nips_Hard_Candy_Rich_Creamy_Butter_Rum_4_oz_1133_g</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Nips Hard Candy, Rich &amp; Creamy, Butter Rum - 4 oz (113.3 g)
30 Calories per piece.  Value pack!  Artificially flavored.  Good to Remember: Reward yourself with a smooth indulgent treat.  Good to Know: Each delicious piece has 30 calories!  Enjoy the long-lasting, rich and creamy taste of Nips.</description>
</model>
