<?xml version="1.0"?>
<launch>
  <!-- start odrive interface -->
  <node pkg="odrive_hardware_interface" type="odrive_control_node" name="propulsion_odrive_control_node" output="screen">  
      <param name="yaml_file" value="$(find paul_control)/config/odrive.yaml"/>
  </node>

  <!-- load controllers -->
  <rosparam file="$(find paul_control)/config/control.yaml" command="load"/>

  <!-- start all controllers -->
  <node name="paul_controller_spawner" pkg="controller_manager" type="spawner"
    args="paul_joint_state_controller paul_elevation_controller paul_base_controller" 
    respawn="false" output="screen"/>
</launch>


